<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.htutmyat.mdyfooddirectory" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.htutmyat.mdyfooddirectory.FirstActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name="com.htutmyat.mdyfooddirectory.SecondActivity"
            android:label="@string/title_activity_second"
            android:parentActivityName="com.htutmyat.mdyfooddirectory.FirstActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.htutmyat.mdyfooddirectory.FirstActivity" />
        </activity>
        <activity
            android:name="com.htutmyat.mdyfooddirectory.SplashActivity"
            android:label="@string/title_activity_splash" >
          <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
        </activity>
    </application>

</manifest>
